* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#primaryDiv {
    width: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 15px;
}

#results {
    height: 45px;
    background-color: aliceblue;
    width: 250px;
    margin: 5px;
    font-size:xx-large;
    font-weight: bold;
    display: flex;
    align-items: center;
}

#buttons {
    display: grid;
    width: 250px;
    grid-template-columns: auto auto auto;
}

body div h1 {
    font-family: cursive;
    margin:0px;
    font-weight:700;
}